<a href="https://colab.research.google.com/github/Abhinavtej/Excelr_Training/blob/main/7th_January.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [ ]:
a = "HeLlo WoRld"
b = a.swapcase()
c = b.title()
d = c.replace('Hello', 'Welcome')
print(a)
print(b)
print(c)
print(d)

HeLlo WoRld
hElLO wOrLD
Hello World
Welcome World

In [ ]:
def greet(name):
  print(f"hello from function {name}")
greet("Abhinav")

hello from function Abhinav

In [2]:
'''
Functions can be called independently where
Methods need Objects to call

Example for Function

'''
def greet(name):
  print(f"hello from function {name}")
greet("Abhinav")

a = "HeLlo WoRld"
b = a.swapcase()
c = b.title()
d = c.replace('Hello', 'Welcome')
print(a)
print(b)
print(c)
print(d)
print()

hello from function Abhinav
HeLlo WoRld
hElLO wOrLD
Hello World
Welcome World

In [ ]:
a = '1234'
b = 'a1b2c3'
c = a.isdigit()
d = b.isalpha()
print(c)
print(d)

True
False

In [ ]:
a = range(10)
b = list(a)
print(a)
print(b)

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#start, stop then steps
a = range(1, 10, 2)
b = list(a)
print(a)
print(b)

range(1, 10, 2)
[1, 3, 5, 7, 9]

In [ ]:
def add(a, b):
  return a + b
print(add(1, 2))

3

In [ ]:
def greet(name, greeting="Hello"):
  print(f"{greeting} {name}!")
greet("Abhinav")
greet("Abhinav", "Bonjour")

Hello Abhinav!
Bonjour Abhinav!

In [ ]:
def calculate_sum(*args):
  """Calculates the sum of all the numbers passed as arguments.
  Args:
    *args: A variable number of numerical arguments.
  """
  total = sum(args)
  return total

print("Sum of 1, 2, 3, 4, 5: ", calculate_sum(1, 2, 3, 4, 5))
print("Sum of 1, 2, 3, 4, 5, 6, 7, 8, 9, 10: ", calculate_sum(1, 2, 3, 4, 5, 6, 7, 8, 9, 10))

Sum of 1, 2, 3, 4, 5:  15
Sum of 1, 2, 3, 4, 5, 6, 7, 8, 9, 10:  55

In [ ]:
correct_username = 'admin'
correct_password = '1234'

while True:
  username = input("Enter your username: ")
  password = input("Enter your password: ")

  if username == correct_username and password == correct_password:
    print("Login successful!")
    break
  else:
    print("Invalid username or password. Please try again.")

Enter your username: Abhinav
Enter your password: 0000
Invalid username or password. Please try again.
Enter your username: admin
Enter your password: 123343
Invalid username or password. Please try again.
Enter your username: admin
Enter your password: 1234
Login successful!

In [ ]:
def calculate(a, b):
  return add(a, b), sub(a, b), mul(a, b), div(a, b)

def add(a, b):
  return a + b

def sub(a, b):
  return a - b

def mul(a, b):
  return a * b

def div(a, b):
  return a / b

data_list = list(calculate(10, 5))
for data in data_list:
  print(data)

15
5
50
2.0

In [ ]:
a = "Abhinav"
b = "tej Reddy"
c = "".join([a, b])
print(c)

Abhinavtej Reddy

In [ ]:
a = "Hello, How are you"
b = a.split()
print(b)

['Hello,', 'How', 'are', 'you']

In [ ]:
a = "timex"
b = a.removesuffix("x")
c = a.removeprefix("ti")
print(b)
print(c)

time
mex